.message {
    display: flex;
    margin-bottom: 10px;
}

.message_cloud {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
    background: #e2dfdc;
    border-radius: 45px;
}
.message_cloud::before,
.message_cloud::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: #e2dfdc;
}
.message_cloud::before {
    bottom: 0;
    z-index: -1;
    width: 20px;
    height: 20px;
}

.message_cloud::after {
    bottom: -5px;
    width: 8px;
    height: 8px;
}
.left .message_cloud::before {
    left: 0;
}
.right .message_cloud::before {
    right: 0;
}

.left .message_cloud::after {
    left: -5px;
}
.right .message_cloud::after {
    right: -5px;
}

.avatar {
    width: 30px;
    margin-right: 6px;
    border-radius: 50%;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}