.wrapper {
    display: flex;
    margin-bottom: 10px;
}

.item {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 80%;
    padding: 10px;
    font-size: 14px;
    background: #e2dfdc;
    border-radius: 45px;
}
.item::before,
.item::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: #e2dfdc;
}
.item::before {
    bottom: 0;
    z-index: -1;
    width: 20px;
    height: 20px;
}

.item::after {
    bottom: -5px;
    width: 8px;
    height: 8px;
}
.left .item::before {
    left: 0;
}
.right .item::before {
    right: 0;
}

.left .item::after {
    left: -5px;
}
.right .item::after {
    right: -5px;
}

.avatar {
    width: 30px;
    margin-right: 6px;
    border-radius: 50%;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}