.dialog {
    display: flex;
    margin-bottom: 10px;
}

.dialog_cloud {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px dashed rgb(58, 59, 60);
    border-radius: 10px;
}

.avatar {
    width: 70px;
    margin-right: 10px;
    border-radius: 50%;
}

.left {
    justify-content: flex-end;
}

.right {
    justify-content: flex-start;
}