.dialog {
    display: flex;
    align-items: center;
}

.avatar {
    width: 70px;
    margin-right: 10px;
    border-radius: 50%;
}

.left {
    justify-content: flex-end;
}

.right {
    justify-content: flex-start;
}