.wrapper {
    display: flex;
    margin-bottom: 30px;
}

.wrapper:last-child {
    margin-bottom: 0;
}

.wrapper_avatar {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.wrapper_info {
    display: flex;
    justify-content: space-between;
    flex: 5;
    padding: 10px;
    border: 1px #000 dashed;
}

.wrapper_info_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
}

.name{
    font-size: 18px;
    font-weight: 600;
}

.wrapper_info_right {
    composes: name;
    text-align: right;
}

.avatar {
    width: 100px;
    margin-bottom: 15px;;
    border-radius: 50%;
}
.button_content {
    display: flex;
    align-items: center;
    font-size: 10px;
}
.button_unfollow .button_img {
    height: 20px;
}
.button_unfollow {
    border-color: #ffffff;
    background-color: #ffffff;
}
.button_unfollow:hover {
    border-color: #000000;
}
