.posts {
    padding: 50px;
    padding-top: 0;
}

h2 {
    color: #484848;
}

textarea {
    display: block;
    margin-bottom: 15px;
}

.button_add {
    font-size: 10px;
}

/* .button_add:hover {
    border: 1px solid #ffffff;
} */