.friend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
}

.friend:last-child {
    margin-right: 0;
}

.avatar {
    width: 40px;
    border-radius: 50%;
}

.name {
    font-size: 12px;
}