.wrapper {
    grid-area: header;

    display: flex;
    align-items: center;
    padding-left: 30px;
    border: 1px dashed rgb(58, 59, 60);
}

.logo {
    width: 100px;
    height: 100px;
    cursor: pointer;
}