* {
  /* font-family: 'Lato', sans-serif;  в index.html  */
  color: rgb(0, 0, 0);
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.wrapper {
  display: grid;

  grid-template-areas: "header header" "nav content ";
  grid-template-rows: 140px 1fr;
  grid-template-columns: 2fr 10fr;

  grid-gap: 20px;
  
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper_content {
  grid-area: content;
  border: 1px dashed rgb(58, 59, 60);
}

:global(.button) {
  width: 100px;
  height: 30px;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #000000;
  transition: .5s all ease;
  outline: none;
  cursor: pointer;
}
:global(.button):hover {
  border: 1px solid #ffffff;
}