.wrapper {
    display: grid;
    grid-template-columns: 3fr 10fr;
    
    color: rgb(255, 255, 255);
}
.messages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border-left: 1px dashed rgb(58, 59, 60);
}
.button_send {
    font-size: 10px;
}